body {
  font-family: 'Open Sans', sans-serif;
  width: 100vw; 
    position:relative; 
}
header {
  width: 95vw; 
  margin: auto; 
} 

#header-top {
  position: fixed; 
  background-color: white;  
  z-index: 99999; 
  width: 100vw; 
  left: 0;
  padding-left: 5vw;
  top: 0;
  height: 5em; 
} 
#toggle-menu-btn {
  position: fixed;
  color: black; 
  right: 4vw;
  margin-top: -4em; 
  background: none;
  color: inherit;
  border: none;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  z-index: 99999; 
}

.fas {
  font-size: 1.5em;  
}

.fas:hover {
  color: brown
}

#hidden-nav {  
  width: vw;     
  position: fixed;   
  z-index: 100; 
  padding-top: 5em;     
  height: 100vh; 
  
}   
    
#hidden-nav ul {
  list-style: none; 
  padding-left: 2vw; 
}
#hidden-nav li {
  margin-top: 0.5em;
}
  
#painting-container { 
  position: relative; 
  background-color: white; 
  z-index: 10000;   
  display: flex; 
  margin: auto;
  flex-wrap: wrap; 
  width: 95vw;
  padding-top: 5em;    
  justify-content: space-between; 
  align-items: center;  
}
@keyframes show{    
  from {left: 0px;} 
  to {left:80vw;}       
}  

@keyframes hide {
  from {left: 80vw;} 
  to {left: 0vw;}       
}

.painting {
  position: relative;
  width: 29vw;
  margin-bottom: 3.8vw;
  height: 29vw;    
  background-position: center;   
  background-size: cover;
  opacity: 1;
 transition: opacity .15s ease-in-out; 
} 



.painting:hover { 
  opacity: 0.8;
}


#p0 { 
  color: red; 
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/2800/ab66f861765279.5a79635c5ce47.jpg");

}
#p1 {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/2800/6ccb5061748023.5a78c5214e036.jpg"); 
} 

#p2 {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/9adb9758818589.5a0aca49698c5.jpg"); 

    
  
}





@media only screen and (min-width: 768px) {

  #toggle-menu-btn {
    display: none;  
  }
   
  #hidden-nav {
    width: 20vw;
  
  }
  #painting-container {
    margin-right: 6vw; 
    width: 70vw; 
 
  }
  #painting-container a {
    width: 22vw;
    height: 22vw; 
    margin-bottom: 2vw;
    
  }
    

  
}
